body{
    background: rgb(44, 7, 7);
}
.container-fluid{
background: url("/images/ivan-torres-MQUqbmszGGM-unsplash.jpg");
background-size: cover;
height:100vh ;
}
h1{
    padding: 200px;
    color: white;
    font-size: 5em;
    text-align: center;
}
p{
    color: white;
    text-align: center;
    font-size: 2em;
    font-style: italic;
}
form{
    display: flex;
    text-align: center;
    padding: 100px;
}
#classics{
    color: rgb(44, 7, 7);
}
.card{
    margin-top: 100px;
}
#deluxes{
    color: rgb(44, 7, 7);
}